@font-face{
    font-family: 'my font';
    src: url('../fonts/PT_Sans/PTSans-Regular.ttf') format('truetype'), url('../fonts/PT_Sans/PTSans-Italic.ttf') format('truetype'), url('../fonts/PT_Sans/PTSans-BoldItalic.ttf') format('truetype'), url('../fonts/PT_Sans/PTSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'portfolio';
    src: url('../fonts/Cookie/Cookie-Regular.ttf') format('truetype');
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;

    /*
    background-color: aqua;
    */
    background-color: white;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    width: 100%;
    height: 61px;
    position: fixed;
    background-color: black;
    color: white;
    font-size: 17px;
    font-family: 'my font';
    border-bottom: 1px solid;
    border-color: gray;
}

.informacoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 60px;

}

#portfolio{
    font-size: 40px;
    font-family: 'portfolio';
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    background-color: rgb(230, 230, 230);

    /*
    background-color: blue;
    */
}

.perfil{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: white;
    gap: 90px;


    /*
    background-color: blueviolet;
    */
}

.foto-de-perfil{
    background-color: white;

    /*
    background-color: chartreuse;
    */
}

#gradient{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 410px;
    background-image: linear-gradient(to left, #8a3ab9, #e95950, #bc2a8d, #fccc63, #fbad50, #cd486b, #4c68d7);
    border-radius: 50%;
}

#foto-perfil{
    border: 10px solid;
    border-color: white;
    border-radius: 50%;
    background-color: white;
    width: 370px;
    height: 370px;
}

.inf-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'my font';
    font-size: 50px;
    background-color: white;

    /*
    background-color: brown;
    */
}

#jonatas-santos{
    font-weight: bolder;
    font-size: 60px;
}

.descricao{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 45px;
    background-color: white;
    width: 100%;

    /*
    background-color: crimson;
    */
}

.descricao-text{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 1303;
}

#sobre-mim{
    font-family: 'my font';
    text-align: center;
    border-bottom: 1px solid;
    border-color: gray;
    width: 735px;
}

.mais-inf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-family: 'my font';
    font-size: 25px;
}

#conhecimentos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tec{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#text-conhecimento{
    margin: auto;
}

.item-tec{
    margin: auto;
    width: 60px;
}

#desenvolvimento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}

#text-desenvolvimento{
    margin: auto;
}

.area-cv{
    background-color: #4c68d7;
    width: 100%;
    height: 500px;
    border-top: solid 1px;
    border-color: gray;
}

.meu-cv{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /*
    background-color: #8a3ab9;
    */
    font-family: 'my font';
    font-size: 50px;
    background-color: white;

    text-decoration: underline 1px gray;
}

.curriculo{
    display: flex;
    justify-content: center;
    /*
    background-color: #fbad50;
    */
    background-color: rgb(230, 230, 230);
}

#cv{
    padding-top: 20px;
    width: 700px;
}