/*
palheta de cores
#011526
#012E40
#025959
#02735E
#038C65
*/

@font-face{
    font-family: 'my font';
    src: url('../fonts/PT_Sans/PTSans-Regular.ttf') format('truetype'), url('../fonts/PT_Sans/PTSans-Italic.ttf') format('truetype'), url('../fonts/PT_Sans/PTSans-BoldItalic.ttf') format('truetype'), url('../fonts/PT_Sans/PTSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'portfolio';
    src: url('../fonts/Cookie/Cookie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'hello';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    background-color: rgb(10, 10, 10);
}

#aba-lateral{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white; 
}

#cabecalho-e-menu{
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100%;  
}

#cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    width: 100%;
    height: 61px;
    position: fixed;
    color: white;
    font-size: 17px;
    font-family: 'my font';
    box-shadow: 0px 0px 5px #003535;
    background-color: #01101d;
}

#informacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 250px;
    height: 60px;
}

.secoes-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #01152600;
    color: white;
    border: none;
    font-family: 'my font';
    font-size: 17px;
}

#aba-botao-aba-lateral-e-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 90px;
}

#portfolio{
    background-image: linear-gradient(to left, #ffffff, #c4c4c4, #e2e2e2);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-family: 'portfolio';
    border: 0px;
    background-color: #011526;
}

#aba-botao-aba-lateral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #01152600;
}

#botao-aba-lateral{
    width: 25px;
    height: 25px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    background-image: url('../img/wallpaper_menu1.jpg');
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.perfil{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    gap: 90px;
}

.foto-de-perfil{
    background-color: rgba(255, 255, 255, 0);
}

#gradient{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 345px;
    background-image: linear-gradient(to left, #011526, rgb(39, 187, 105), #012E40, #025959, #24917d, #038C65);
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 0px 27px #24917d;
} 

#foto-perfil{
    border-radius: 50%;
    width: 320px;
    height: 320px;
    font-family: 'hello';
}

.inf-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'my font';
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
}

#aba-ola-mundo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: right;
    width: 100%;
    height: 50px;
}

#ola-mundo{
    background-image: linear-gradient(to left, #ffffff, #979797, #e2e2e2);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    margin-right: 17%;
    font-family: 'hello';
    font-size: 15px; 
    margin-top: 35px;
}

#jonatas-santos{
    margin-top: 70px;
    font-weight: bolder;
    font-size: 50px;
    color: white;
}

#front-end{
    background-image: linear-gradient(to left, #025959, #24917d, #038C65);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
}

#aba-botao-sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    gap: 15px;
}

#botao-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
    color: #00aa8b;
    font-family: 'my font';
    width: 120px;
    height: 45px;
    border: solid 2px #00aa8b;
    box-shadow: 0px 0px 7px #24917d;
}

#botao-sobre-mim{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 7px;
    border: 0px;
    background-image: linear-gradient(to left, #011526, #012E40, #025959);
    color: rgb(255, 255, 255);
    font-family: 'my font';
    width: 120px;
    height: 45px;
    box-shadow: 0px 0px 7px #24917d;
}

.descricao{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 65px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.descricao-text{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    width: 620px;
    margin-top: 10px;
}

#sobre-mim{
    font-family: 'my font';
    font-size: 16px;
    text-align: center;
    width: 620px;
    text-align: left;
    color: white;
    border-radius: 10px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: normal;
}

#redes-sociais{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 40px;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 130px;
}

.links-redes-sociais{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0);
    width: 40px;
    height: 40px;
}

.botao-rede-social{
    width: 40px;
    height: 40px;
}

#separador-menu-conhec{
    width: 100%;
    height: 40px;
}

#aba-mais-inf{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(to left, #011526, #012E40, #025959, #02735E, #038C65);
}

.mais-inf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    margin: auto;
    margin: 20px;
    width: 300px;
    height: 270px;
    background-color: #012E40;
    border-radius: 10px;
    font-family: 'my font';
    font-size: 25px;
}

#conhecimentos{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tec{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

#text-conhecimento{
    margin: auto;
    color: white;
    font-size: 22px;
}

.item-tec{
    margin: 0px;
    width: 45px;
}

#desenvolvimento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
}

#text-desenvolvimento{
    color: white;
    margin: auto;
    font-size: 22px;
}